<script setup lang="ts">

</script>

<template>
  <section class="bg-yellow-700 h-[750px]">
    <div class="text-center mb-7 py-4">
      <h1 class="text-3xl text-orange-300 font-bold mb-5">Artifacts</h1>
      <div class="w-[800px] ms-[230px]">
      <p class="mb-5 text-orange-200">Artifacts are embodiment of memories taking a physical existence, these are offered
        in exchange for offering a very rare resource called <strong>resin</strong> by
        the irminsul tree which is the database of entier teyvat. When equiped by characters
        they can obtain various damage bonuses and buffs which can enhance certain aspects and
        characters unique attack sequences. <br> You can imagine how certain artifact sets when
        equiped can greatly enhance a character's strength. as you can see in the image below,
        first set is really good for on field hydro damage character. You can learn more about
        them by visiting artifact section.</p>
      </div>
      <NuxtLink>
        <button class="bg-orange-400 hover:bg-orange-500 text-white py-2 px-4 rounded-3xl">Guide list</button>
      </NuxtLink>
    </div>
    <div class="flex justify-center">
      <NuxtImg src="/img/artifact-info.webp" class="h-96 w-[1050px] object-contain"/>
    </div>
  </section>
</template>

<style scoped>

</style>