<script setup lang="ts">
import { sleep }         from '@antfu/utils'
import { stringifyJSON } from 'confbox'

// Empty ref variable to observe the status of the API call
const pending = ref()

/**
 * This function is called when the "Register" button is clicked.
 * It will then get the entered email address and send it to the
 * back-end /api/register endpoint.
 *
 * Enter an email address and click "Register" and see for yourself!
 *
 * @see /api/register.ts
 */
const handleRegister = async () => {
  // Tell the variable that the progress has started (`true`)
  pending.value = true

  // Since you develop locally, the `pending` part is too fast to be seen.
  // That's why I made a break of 1 second here so you can see the effect on the button.
  await sleep(1000)

  // Get the actual form
  const form = document.querySelector('form') as HTMLFormElement

  // Create a new form object so we can read fields from this form
  const formData = new FormData(form)

  // Read the field with the name "user_email"
  const data = formData.get('user_email')

  // The actual API call that sends the email address to the Nuxt back-end.
  // Note that we can use several different functions, Nuxt has useFetch(), useAsyncData(), and $fetch.
  // But the normal fetch() function is well integrated into almost all browsers, so we can just use that.
  await fetch('/api/register', {
    method:  'POST',
    headers: {
      'Content-Type': 'application/json' // We have to tell that we're sending text in JSON format
    },
    body:    stringifyJSON({ email: data }) // This is what is being sent to the back-end, formatted as JSON
  })
  // Data has been sent, the `value` is an object in which fetch() tells us if it worked or not
  .then(value => {
    // If all is good...
    console.log()
    if (value.ok) {
      // We reset the form since all worked out
      form.reset()

      // Send a success message to the browser's console
      console.log('The email was successfully sent.')

      // Otherwise...
    } else {
      // Send an error message to the browser's console
      console.error('There was an error sending the email.')
    }
  })
  // This runs when everything is over, no matter if successful or not
  .finally(() => {
    // Progress is over, so we change the variable back to `false`
    pending.value = false
  })
}
</script>

<template>
  <section id="banner" class="h-[530px] text-white mb-3">
    <div class="flex justify-end items-center h-full w-full">
      <div class="max-w-lg w-full">
        <h1 class="text-4xl font-bold mb-2">
          Enter a Magical World
        </h1>
        <h2 class="text-xl font-medium leading-relaxed mb-4">
          <label for="user-email">
            Dive into adventures you will
            <br>
            never forget!
          </label>
        </h2>
        <form @submit.prevent="handleRegister" action="/" method="post" class="flex gap-x-4">
          <input type="email"
                 name="user_email"
                 value=""
                 placeholder="Enter your email address..."
                 id="user-email"
                 class="w-4/6"
                 required>
          <button type="submit" id="register-button">
            <span v-if="pending">
              <Icon name="svg-spinners:ring-resize" size="22"/>
            </span>
            <span v-else>
              Register
            </span>
          </button>
        </form>
      </div>
    </div>
  </section>
</template>

<style lang="postcss" scoped>
input {
  @apply px-4 py-2 text-lg rounded-lg border-2 shadow text-black;
}

button {
  @apply rounded-lg bg-indigo-500 font-semibold px-4 text-white shadow hover:bg-indigo-600 transition-all;
}

#banner {
  @apply bg-no-repeat bg-cover;

  background-image: url("/img/banner.webp");
}
</style>