<script setup lang="ts">
const events = ref([
  {
    name: 'event-1',
    src:  '/img/event.webp',
    url:  'https://genshin.hoyoverse.com/en/news/detail/104314'
  },
  {
    name: 'event-2',
    src:  '/img/event-2.webp',
    url:  'https://genshin.hoyoverse.com/en/news/detail/103882'
  },
  {
    name: 'event-3',
    src:  '/img/event-3.webp',
    url:  'https://genshin.hoyoverse.com/en/news/detail/104168'
  },
  {
    name: 'event-4',
    src:  '/img/event-4.webp',
    url:  'https://genshin.hoyoverse.com/en/news/detail/103810'
  },
  {
    name: 'event-5',
    src:  '/img/event-5.webp',
    url:  'https://genshin.hoyoverse.com/en/news/detail/104074'
  },
  {
    name: 'event-6',
    src:  '/img/event-6.webp',
    url:  'https://genshin.hoyoverse.com/en/news/detail/123536'
  }
])
</script>

<template>
  <section>
    <div class="text-center items-center mb-5">
      <h1 class="text-3xl font-bold text-red-500 mb-3">
        Events
      </h1>
      <div class="w-[700px] ms-64">
        <p>Take part in glorious events to win primogems and many other rewards. Events consist of playthrough of
          content having many wonderous mini games to enhance your experience in open world. In Genshin Impact events
          are integral part of content as they revolve around utilizing the over-world experience and your characters as
          medium to work with.
        </p>
      </div>
    </div>
    <div class="max-w-2xl mx-auto my-12">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div v-for="event in events" :key="event.name" class="border-2 p-1 border-neutral-500">
          <NuxtLink :to="event.url">
            <NuxtImg :src="event.src"
                     :alt="`Image for ${event.name}`"
                     class="w-full h-full object-contain hover:scale-110 transition-all duration-300"/>
          </NuxtLink>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>

</style>