<script setup lang="ts">

</script>

<template>
  <section class="bg-black">
    <div class="flex flex-col items-center mb-5">
      <NuxtImg src="/img/logo-w.webp" class="w-32 max-h-12 mt-4 mb-3"/>
      <p class="text-center text-sm text-neutral-500">Genshin Impact is a Open-World Action RPG. Full of adventure and
        action, you can enjoy a novel time going through its story as you experience
        <br>
        what is going around teyvat. You will face many advercities, but fret not as your friends will help you counter
        all the difficulties.
      </p>
    </div>
    <div class="flex flex-col items-center mb-5">
      <NuxtImg src="/img/footer.webp" class="mb-5"/>
      <p class=" text-center text-sm text-neutral-500">"Playstation Family Mark", "PS5 logo" are registered trademarks
        or trademark of Sony Interactive Entertainment Inc.
        <br>
        Epic, Epic Games, Epic Games Store, the Epic Games Store logo and Epic Online Services are trademarks and/or
        registered trademarks
        <br>
        of Epic Games. All other trademarks are the property of their respective owners.
      </p>
    </div>
    <div class="flex flex-col items-center">
      <NuxtImg src="/img/footer-2.webp" class="w-[210px] h-[40px] mb-2"/>
      <p class="text-center text-white text-sm">Copyright © COGNOSPHERE. All Right Reserved</p>
    </div>
  </section>
</template>

<style scoped>

</style>