<script setup lang="ts">
const navItems = [
  {
    name: 'Home',
    url:  '/'
  },
  {
    name: 'Teyvat',
    url:  '/teyvat'
  },
  {
    name: 'Characters',
    url:  'https://wiki.hoyolab.com/pc/genshin/aggregate/character?filter_ids='
  },
  {
    name: 'Hoyolab',
    url:  'https://www.hoyolab.com/home'
  }
]
</script>

<template>
  <section class="bg-neutral-200 flex items-center">
    <div>
      <NuxtImg src="/img/logo-2.webp" alt="logo" class="w-[140px] me-9"/>
    </div>
    <nav class="w-full flex px-40 gap-x-24">
      <NuxtLink v-for="navItem in navItems"
                :key="navItem.name"
                :to="navItem.url"
                class="font-medium transition hover:bg-neutral-400 py-1 px-3 rounded-2xl">
        {{ navItem.name }}
      </NuxtLink>
    </nav>
    <NuxtLink to="https://play.google.com/store/apps/details?id=com.miHoYo.GenshinImpact&pli=1"
              class="me-10 bg-gray-700 text-white py-2 px-5 rounded">
      <button type="submit">Download</button>
    </NuxtLink>
  </section>
</template>

<style scoped>
body {
}
</style>