<script setup lang="ts">

</script>

<template>
  <section class="mt-5">
    <div class="text-center max-w-5xl m-auto mb-5">
      <h1 class="text-3xl text-red-500 font-bold mb-4">Top Characters</h1>
      <div class="w-[700px] flex justify-center ms-40 mb-6">
        <p>These following characters are currently rocking the stage of teyvat through their stronghold of powerful
          abilities. Having these characters on your roster will certainly help you with facing strong adversaries and
          challenges.
          <br>
          In order to know more, explore further to see how each existing character is impacting the current state of
          game from top to bottom.
        </p>
      </div>
    </div>
    <div class="flex gap-x-12 ms-16 mb-5">
      <NuxtLink to="https://wiki.hoyolab.com/pc/genshin/entry/4376?lang=en-us">
        <NuxtImg src="/img/furina-bg.webp" class="w-[260px] h-56"/>
      </NuxtLink>
      <NuxtLink to="https://wiki.hoyolab.com/pc/genshin/entry/29?lang=en-us">
        <NuxtImg src="/img/shenhe-bg.webp" class="w-[235px] h-52"/>
      </NuxtLink>
      <NuxtLink to="https://wiki.hoyolab.com/pc/genshin/entry/2252">
        <NuxtImg src="/img/yelan-bg.webp" class="w-[235px] h-52"/>
      </NuxtLink>
      <NuxtLink to="https://wiki.hoyolab.com/pc/genshin/entry/3336?lang=en-us">
        <NuxtImg src="/img/alhaithm-bg.webp" class="w-[235px] h-56"/>
      </NuxtLink>
    </div>
    <div class=" flex justify-center">
      <NuxtLink to="https://genshin.gg/tier-list/">
        <button class="bg-red-500 hover:bg-red-600 py-1 px-3 rounded-3xl text-white ">
          See More
        </button>
      </NuxtLink>
    </div>
    <div class="flex gap-x-2 mt-8 mb-5 border-2 border-gray-300">
      <NuxtImg src="/img/elements.webp" class="w-96"/>
      <NuxtImg src="/img/elements.webp" class="w-96"/>
      <NuxtImg src="/img/elements.webp" class="w-96"/>
      <NuxtImg src="/img/elements.webp" class="w-96"/>
    </div>
  </section>
</template>

<style scoped>

</style>