<script setup lang="ts">

</script>

<template>
  <section class="bg-green-300 flex justify-between items-center h-72">
    <div class="text-center ms-36 mt-4">
      <h1 class="font-bold text-4xl mb-4 text-neutral-700">Upcoming Character</h1>
      <div class=" w-[420px] text-lg mb-4">
      <p>Be updated with the new and powerful
        units, expand your roster according to your liking. Whether you are a meta
        or design lover, game follows how you want it to. Go to our page to find more
        information on upcoming content. </p>
      </div>
      <NuxtLink>
        <button class="bg-teal-600 hover:bg-teal-700 py-2 px-5 rounded-3xl text-neutral-100">Stay Updated</button>
      </NuxtLink>

    </div>
    <div class="flex gap-x-8 me-16">
      <NuxtImg src="/img/alhaithm.webp" class="w-52 h-60"/>
      <NuxtImg src="/img/emily.webp" class="w-52 h-60"/>
    </div>
  </section>
</template>

<style scoped>

</style>