<script setup lang="ts">

</script>

<template>
  <section class=" p-4 flex mb-5">
    <div class="grid grid-cols-2 gap-5">
      <NuxtImg src="/img/wish-1.webp" class="w-[300px] h-40"/>
      <NuxtImg src="/img/wish-2.webp" class="w-[300px] h-40"/>
      <NuxtImg src="/img/wish-3.webp" class="w-[300px] h-40"/>
      <NuxtImg src="/img/wish-4.webp" class="w-[300px] h-40"/>
    </div>
    <div class="ms-6 mt-8">
      <h2 class="font-medium text-red-500 mb-3">Wishing System</h2>
      <h1 class="font-bold text-2xl ms-9 mb-4">Wish for your desired characters</h1>
      <div class=" w-[430px] ms-9 mb-5">
      <p>Wishing is a system which allows you to have a chance at grabbing promotional character
        that you like for a limited time. So grab the characters while you can. This wishing system allows
        you a limited time access to specific characters that appear on the banners, so you can have
        the chance to obtain them into your account and play with them as useable characters on your adventures.</p>
      </div>
      <NuxtLink to="https://gamewith.net/genshin-impact/article/show/30371">
        <button
            class="bg-red-500 hover:bg-red-600 ms-9 py-1 px-6 rounded-3xl text-white">
          History</button>
      </NuxtLink>
    </div>
  </section>
</template>

<style scoped>

</style>