<script setup lang="ts">


</script>

<template>
    <Navbar/>
    <Banner/>
    <Wishing/>
    <Upcoming/>
    <TopRank/>
    <Events/>
    <Artifacts/>
    <Footer/>


</template>

<style scoped>
body {
}
</style>