<script setup lang="ts">

</script>


<template>
  <Navbar/>
  <section class="flex flex-col gap-y-5">
    <div class="max-w-6xl m-auto">
      <h1 class="heading text-rose-400">Mondstadt</h1>
      <NuxtImg src="/img/city1.jpg" class="center-vertically"/>
      <p class="article">Mondstadt, one of the seven regions in the planet of Teyvat in Genshin Impact,
        is known as the City of Freedom and is ruled by Barbatos (Venti), the Anemo Archon. Mondstadt, located
        northeast of Teyvat, is known for its vast plains and hilly landscape. The main settlement, also
        known as Mondstadt, is located on an island in the center of Cider Lake and is distinguished by
        its cobblestone streets, windmills, and a massive stone castle wall. The region has a strong
        cultural heritage, with festivals like the Windblume Festival, Ludi Harpastum, and Weinlesefest.
        Mondstadt's notable areas include Starfell Valley, Windwail Highland, and the cold expanse of
        Dragonspine. Many beloved characters, including Venti, Jean, and Diluc, are from the vibrant
        region, adding to its distinct charm and mythology.</p>
    </div>
    <div class="max-w-6xl m-auto">
      <h1 class="heading text-sky-600">Liyue</h1>
      <NuxtImg src="/img/city2.webp" class="center-vertically"/>
      <p class="article">Liyue, one of Teyvat's seven regions in Genshin Impact, is a land steeped with
        history and culture, ruled by the Geo Archon Rex Lapis, known as Zhongli. Liyue is located in
        the eastern section of Teyvat and is known for its breathtaking views, which include high mountains,
        broad grasslands, and rushing rivers. Liyue Harbor, the capital city, is a bustling business
        district famed for its vibrant marketplaces and stunning architecture. Liyue is profoundly anchored
        in the concept of contracts and commerce, which mirror the principles of its guardian deity.
        Liyue's notable areas include the Chasm, Bishui Plain, and the Sea of Clouds. The region is also
        notable for its events, such as the Lantern Rite and Moonchase Festival, which highlight its rich
        traditions and community.
      </p>
    </div>
    <div class="max-w-6xl m-auto">
      <h1 class="heading text-violet-500">Inazuma</h1>
      <NuxtImg src="/img/city3.webp" class="center-vertically"/>
      <p class="article">Inazuma, one of Teyvat's seven regions in Genshin Impact, is an archipelagic
        nation governed by the Electro Archon Raiden Shogun, commonly known as Beelzebul. Inazuma,
        located southeast of Liyue Harbor, is well-known for its distinct culture and stringent
        isolationist laws, which have impacted its society and contacts with the rest of the world.
        The region is made up of various islands, each with its own unique atmosphere and style, ranging
        from the cherry blossom-adorned Narukami Island to the stormy and enigmatic Seirai Island.
      </p>
      <p class="article">Inazuma City, the region's capital, symbolizes the Raiden Shogun's pursuit
        of eternal values. This city combines traditional Japanese architecture with cutting-edge
        technology, symbolizing Inazuma's historic traditions and quest of advancement. The region's
        scenery are diverse and stunning, with lush woods, tranquil beaches, and towering mountains,
        all of which are regularly cloaked in thunderstorms, adding to the dramatic beauty.
      </p>
    </div>
    <div class="max-w-6xl m-auto">
      <h1 class="heading text-orange-400">Sumeru</h1>
      <NuxtImg src="/img/city4.jpg" class="center-vertically"/>
      <p class="article">Sumeru, one of the seven regions of Teyvat in Genshin Impact, is a country
        of opposites, ruled by the Dendro Archon, Lesser Lord Kusanali (Nahida), also known as the God
        of Wisdom. Sumeru, located to the west of Liyue, is known for its various landscapes, which
        range from lush rainforests to dry deserts. The Sumeru Akademiya, Teyvat's top learning
        institution, welcomes scholars from all over the world to study and pursue knowledge.
        Sumeru City, the capital, is a thriving center for intellectual and cultural interchange.
        Sumeru's notable areas include the Dharma Forest, the Great Red Sand, and the Girdle of Sands.
      </p>
      <p class="article">The region is also famous for its rich traditions and festivities, including
        the Sabzeruz Festival and the Akademiya Extravaganza. Sumeru's distinct blend of natural beauty
        and academic pursuits makes it an enticing location for both tourists and adventure seekers.
        Furthermore, the region's vegetation and animals are quite diverse, providing an abundance of
        riches and secrets to discover. Sumeru's people are profoundly connected to their surroundings,
        receiving inspiration and wisdom from nature. Sumeru's balanced relationship with nature and
        knowledge distinguishes it as a really unique and lovely site in Teyvat.

      </p>
    </div>
    <div class="max-w-6xl m-auto">
      <h1 class="heading text-blue-500">Fontaine</h1>
      <NuxtImg src="/img/city5.webp" class="center-vertically"/>
      <p class="article">Fontaine, one of the seven regions of Teyvat in Genshin Impact, is ruled
        by the Hydro Archon, Focalors (Furina), also known as the God of Justice. Fontaine, located
        in the heart of Teyvat, is known for its high technology and artistic culture, and is sometimes
        referred to as the "Nation of Justice". With its elevated continental plate and gigantic
        waterfalls spanning thousands of meters, the region offers a unique blend of natural beauty and
        human creativity. The capital, Court of Fontaine, is a center for judicial and cultural activity,
        reflecting the region's strong devotion to justice and order. Fontaine has several notable
        locations, including the Belleau Region, the Beryl Region, and the Fontaine Research Institute
        of Kinetic Energy Engineering.
      </p>
      <p class="article">The region is also well-known for its exciting events, such as the Fontinalia
        Festival, which celebrates its diverse cultural heritage and innovative energy. Fontaine's
        unique combination of natural beauties and technology breakthroughs makes it an intriguing
        location for both vacationers and adventurers.


      </p>
    </div>
  </section>
</template>

<style scoped>
.center-vertically {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 460vh;
}
.heading{
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}
.article{
  width: 97%;
  margin: auto;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  font-size: 17px;
  line-height: 1.9rem;
}
</style>